.life__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-gap: 1em;
}

.life__images {
  max-width: 100%;
  max-height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.life__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

.life__image:hover {
  cursor: pointer;
  transform: scale(2);
}

@media only screen and (max-width: 800px) {
  .life__grid {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  }
}

.nav__bar {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  border: 1px solid var(--clr-fg-alt);
}

.nav__bar__btn {
  flex: 1;
  color: var(--clr-fg-alt);
  padding: 10px 0;
  text-align: center;
  transition: all 0.3s ease;
}

.selected,
.nav__bar__btn:hover {
  color: var(--clr-bg);
  background-color: var(--clr-fg);
}

.life__image.animate {
  animation: fadeInAnimation 0.5s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}