.life__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-gap: 1em;
}

.life__images {
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.life__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .life__grid {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  }
}

.nav__bar {
  display: flex;
  margin-bottom: 10px;
  box-shadow: var(--shadow);
  justify-content: space-between;
}

.nav__bar__btn {
  flex: 1;
  color: var(--clr-fg-alt);
  padding: 10px 0;
  text-align: center;
  transition: all 0.3s ease;
}

.selected,
.nav__bar__btn:hover {
  color: var(--clr-bg);
  background-color: var(--clr-fg);
}